################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/lab_1/.vs
/lab_1/Debug
/lab_1/lab_1
/lab_1/x64/Debug
